/* Main container */
.sidebar-container {
  background-color: rgba(129, 133, 178, 0.1);
  height: 100%;
  padding: 1.25rem;
  border-radius: 0 1rem 1rem 0;
  overflow-y: scroll;
  color: white;
}

@media (max-width: 768px) {
  .mobile-hidden {
    display: none;
  }
}

/* Header section */
.sidebar-header {
  padding-bottom: 1.25rem;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  max-width: 10rem;
}

/* Menu dropdown */
.menu-container {
  position: relative;
  padding: 0.5rem 0;
  cursor: pointer;
}

.menu-container:hover .dropdown-menu {
  display: block;
}

.menu-icon {
  max-height: 1.25rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20;
  width: 8rem;
  padding: 1.25rem;
  border-radius: 0.375rem;
  background-color: #282142;
  border: 1px solid #4b5563;
  color: #f3f4f6;
  display: none;
}

.menu-item {
  cursor: pointer;
  font-size: 0.875rem;
}

.menu-divider {
  margin: 0.5rem 0;
  border-top: 1px solid #6b7280;
}

/* Search bar */
.search-container {
  background-color: #282142;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  margin-top: 1.25rem;
}

.search-icon {
  width: 0.75rem;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 0.75rem;
  flex: 1;
}

.search-input::placeholder {
  color: #c8c8c8;
}

/* Users list */
.users-list {
  display: flex;
  flex-direction: column;
}

.user-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.user-item:hover {
  background-color: rgba(40, 33, 66, 0.3);
}

.active-user {
  background-color: rgba(40, 33, 66, 0.5);
}

.user-avatar {
  width: 2.1875rem;
  aspect-ratio: 1/1;
  border-radius: 9999px;
}

.user-info {
  display: flex;
  flex-direction: column;
  line-height: 1.25rem;
}

.user-name {
  font-size: 0.875rem;
}

@media (max-width: 640px) {
  .user-name {
    font-size: 0.875rem;
  }
}

.online-status {
  color: #86efac;
  font-size: 0.75rem;
}

.offline-status {
  color: #a3a3a3;
  font-size: 0.75rem;
}

.unread-count {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.75rem;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: rgba(109, 40, 217, 0.5);
}
